.jumbotron {
  padding-top: 6rem;
  background-color: #e3e1cd;
}

#about {
  background-color: #d0d9b3;
}

#Projects {
  background-color: #e3e1cd;
}

Footer {
  background-color: #77815C;
}

section {
  padding-top: 5rem;
}

#contact {
  background-color: #d0d9b3;
}
